<div>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="texto">
      <mat-form-field class="example-full-width" appearance="fill">
          <input 
          matInput 
          formControlName="nombre"
          type="text"
          required
          >
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="adicionar()">Adicionar</button>
      <button mat-button disabled>Disabled</button>
    </div>

    <div class="column2" >

      <div formArrayName="pasatiempos" *ngFor="let s of pasatiemposO.controls; let i = index">

        <mat-checkbox type="checkbox" class="example-margin" [formControlName]="i">{{ name[i] }}</mat-checkbox>
        
        <!-- eliminar caja dinamica -->
        <button mat-raised-button color="warn" (click)="borrarCaja(i)" type="button">Eliminar</button>
      </div>
      

      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <textarea matInput cols="30" rows="10" disabled class="textarea">{{ datos }}</textarea>
      </mat-form-field>
    </div>

    <div class="btnlimpiar">
      <button type="button" (click)="vaciarcaja()" mat-raised-button>Limpiar</button>
    </div>

    <div class="btnguardar">
      <fieldset>
        <legend>Acciones</legend>
        <button mat-raised-button (click)="guardar()">Guardar</button>
      </fieldset>
      
    </div>


  </form>
</div>