*{
  box-sizing: border-box;
  margin: 5px;
  width: 100%;
}

.texto{
  width: 15%;
  flex-direction: column;
  float: left;
}

.texto button{
  width: 75%;
}

.text{
  margin-bottom: 15px;
}

.column2{
  width: 25%;
  float: left;
}



.btneliminar{
  float: right;
  width: 100px;
  margin-bottom: 30px;
  margin-top: -35px;
}

.btnlimpiar, .btnguardar{
  width: 10%;
  float: left;
}

.btnlimpiar{
  margin-top: 150px;
  margin-left: 20px;
}

fieldset{
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.263);
}

.textarea{
  background-color: rgba(220, 215, 187, 0.5);
}